* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

body {
  min-height: 100vh;
}

body header {
  min-height: 8vh;
}

body main {
  min-height: 92vh;
}

main {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

main nav {
  border: 3px solid black;
  border-radius: 5px;
  width: 20vw;
  min-width: 150px;
  max-width: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

div.edit-comment form {
  display: flex;
  flex-direction: column;
}
